In [8]:
import pandas as pd

df = pd.read_csv("diabetes_cleaned.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96128 entries, 0 to 96127
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           96128 non-null  int64
 1   gender               96128 non-null  object
 2   age                  96128 non-null  float64
 3   hypertension         96128 non-null  int64
 4   heart_disease        96128 non-null  int64
 5   smoking_history      96128 non-null  object
 6   bmi                  96128 non-null  float64
 7   HbA1c_level          96128 non-null  float64
 8   blood_glucose_level  96128 non-null  int64
 9   diabetes             96128 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 7.3+ MB

In [14]:
df.head()

,Unnamed: 0,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,Female,80.0,0,1,non-smoker,25.19,6.6,140,0
1,1,Female,54.0,0,0,non-smoker,27.32,6.6,80,0
2,2,Male,28.0,0,0,non-smoker,27.32,5.7,158,0
3,3,Female,36.0,0,0,current,23.45,5.0,155,0
4,4,Male,76.0,1,1,current,20.14,4.8,155,0

In [10]:
# Split data into features and target variable
X = df.drop('diabetes', axis=1)
y = df['diabetes']

In [11]:
X.columns.tolist()

['Unnamed: 0',
 'gender',
 'age',
 'hypertension',
 'heart_disease',
 'smoking_history',
 'bmi',
 'HbA1c_level',
 'blood_glucose_level']

In [12]:
from sklearn.model_selection import train_test_split
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
X_test

,Unnamed: 0,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
2547,2547,Female,5.00,0,0,non-smoker,15.14,4.5,90
46563,47513,Female,26.00,0,0,non-smoker,18.63,4.0,85
15371,15486,Female,5.00,0,0,non-smoker,14.64,5.0,158
89545,92933,Male,77.00,0,1,past_smoker,29.84,4.0,90
65400,67275,Male,23.00,0,0,current,21.05,6.5,130
...,...,...,...,...,...,...,...,...,...
19152,19319,Female,3.00,0,0,non-smoker,14.37,6.1,90
17485,17627,Male,14.00,0,0,non-smoker,18.09,4.8,145
8643,8673,Female,0.24,0,0,non-smoker,27.32,5.0,140
36459,37066,Male,78.00,0,0,past_smoker,27.32,6.6,200
58992,60508,Male,16.00,0,0,non-smoker,27.10,6.5,80

In [13]:
from joblib import load

loaded_model = load("model.joblib")
y_pred = loaded_model.predict(X_test)

In [16]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
# 'Unnamed: 0',
#  'gender',
#  'age',
#  'hypertension',
#  'heart_disease',
#  'smoking_history',
#  'bmi',
#  'HbA1c_level',
#  'blood_glucose_level'
sample = [
    1, 
    "Male",
    
]

In [ ]:
simple_pred = loaded_model.predict(sample)